[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/mod-playerbots/mod-playerbots.git
	branch = master
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/azerothcore/mod-ah-bot.git
	branch = master
